# IE4483 Group Project

* Farrell Santoso     U2220
* Joshua James        U2220
* Kenneth Tanudjaja   U2220891K

In [8]:
# Dependencies
import pandas as pd
from sklearn.model_selection import train_test_split

# Read Data

In [6]:
# Training data 
data = pd.read_json('train.json')
print(data.shape)
data.head()

(7401, 2)

                                             reviews  sentiments
0  I bought this belt for my daughter in-law for ...           1
1  The size was perfect and so was the color.  It...           1
2  Fits and feels good, esp. for doing a swim rac...           1
3  These socks are absolutely the best. I take pi...           1
4  Thank you so much for the speedy delivery they...           1

# Process Data

In [22]:
# Randomly splitting data into 2 parts for testing
train, test = train_test_split(data, test_size = 0.2, random_state = 42)
train

                                                reviews  sentiments
1109  These shoes work well, but are very uncomforta...           0
3751  Uncomfortable! Poor quality! Bad Customer Serv...           0
5038  My wife is using  Post Delivery Girdle Belt - ...           1
7013  My 1 year old granddaughter LOVED it from the ...           1
1965  Very cute!  Excellent price.  Comparible shipp...           1
...                                                 ...         ...
5191  I've been looking for this specific color and ...           1
5226  I use this stuff all the time. It's by far the...           1
5390  This is my second pair of these shoes and I re...           1
860   Certain styles of Hue pantyhose, along with ce...           1
7270  I bought this bag to carry books one mile each...           1

[5920 rows x 2 columns]

In [23]:
test

                                                reviews  sentiments
6398  This is definitely not something I would want ...           0
5163  The Beyond Yoga line of clothing is just incre...           1
3268  These shoes were perfect for the occasion I us...           1
169   My husband refused to wear slippers and it was...           1
1952  These boots look good with jeans. Can be loose...           1
...                                                 ...         ...
210   The sneakers are great and they arrived from v...           1
6998  It might be a bit pricy.  But offers very good...           1
6307  I bought a four set of these for my daughter a...           1
110   I was looking for a specific fleece hoodie Adi...           1
51    speedy delivery  product  as  stated   would b...           1

[1481 rows x 2 columns]

# Classification

# Training

# Testing

# Training Validation

# Classification data for testing

In [5]:
# Test data 
test_df = pd.read_json('test.json')
print(test_df.shape)
test_df.head()

(1851, 1)

                                             reviews
0  I bought 2 sleepers.  sleeper had holes in the...
1  I dare say these are just about the sexiest th...
2  everything about the transaction (price, deliv...
3  Not bad for just a shirt.  Very durable, and m...
4  These are truly wrinkle free and longer than t...