In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

#### Import the necessary libraries

#### Read the data to pandas DataFrame

In [3]:
train_df = pd.read_json('train.json')
print(train_df.shape)
train_df.head()

(7401, 2)

                                             reviews  sentiments
0  I bought this belt for my daughter in-law for ...           1
1  The size was perfect and so was the color.  It...           1
2  Fits and feels good, esp. for doing a swim rac...           1
3  These socks are absolutely the best. I take pi...           1
4  Thank you so much for the speedy delivery they...           1

#### You can use the TfidfVectorizer from the scikit-learn library to convert the text to vectors

The vectorizer should only be fitted on the training data as the test data are unknown during training.

In [7]:
vectorizer = TfidfVectorizer()
vectorizer = vectorizer.fit(train_df['reviews'])
X_train = vectorizer.transform(train_df['reviews'])
X_train.shape
print(X_train)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 298414 stored elements and shape (7401, 14114)>
  Coords	Values
  (0, 877)	0.09091645584755971
  (0, 1506)	0.3899756344302765
  (0, 1802)	0.21420395456585656
  (0, 2501)	0.3291416265616442
  (0, 3450)	0.34370897074767226
  (0, 5206)	0.24607722657366557
  (0, 6423)	0.13519818331479574
  (0, 6723)	0.12683657685628102
  (0, 7127)	0.4798712137223115
  (0, 7464)	0.3346246701516394
  (0, 8142)	0.13603572840541375
  (0, 10950)	0.3070876124896725
  (0, 12574)	0.13160988309339564
  (1, 877)	0.08124845966888897
  (1, 2714)	0.24209273067137857
  (1, 3743)	0.2594917567489253
  (1, 6723)	0.2266977172213228
  (1, 6888)	0.18184763392983586
  (1, 7281)	0.17405696574454443
  (1, 7407)	0.2974697349050766
  (1, 8555)	0.14333662589556273
  (1, 8819)	0.4475989826991801
  (1, 9038)	0.23528962228322536
  (1, 11188)	0.18932319779702872
  (1, 11411)	0.15735494594744787
  :	:
  (7400, 2923)	0.264454622355372
  (7400, 3125)	0.20211979628863663
  (7400, 4105)	0.3143591313601376
  (7400, 4749)	0.20312794433520936
  (7400, 5021)	0.1556043129429978
  (7400, 5080)	0.2421797262042376
  (7400, 5206)	0.07140317642343817
  (7400, 6423)	0.07845975728651837
  (7400, 6708)	0.0740888085538386
  (7400, 6780)	0.3730551362491799
  (7400, 7692)	0.17520654665262042
  (7400, 7722)	0.12752029145384214
  (7400, 8142)	0.07894581104046118
  (7400, 9402)	0.23733556704120026
  (7400, 10670)	0.2281171073614724
  (7400, 10950)	0.17821259835670678
  (7400, 11434)	0.16463918088871143
  (7400, 12157)	0.17892661557428868
  (7400, 12516)	0.15835089999814272
  (7400, 12523)	0.09655693493707215
  (7400, 12540)	0.08781048937292019
  (7400, 12542)	0.0839718288589617
  (7400, 12679)	0.13712892210012195
  (7400, 13424)	0.1843237324012351
  (7400, 13793)	0.21793913900973316

#### Test set should be transformed using the same vectorizer (fitted on the training data)

In [5]:
test_df = pd.read_json('test.json')
print(test_df.shape)
X_test = vectorizer.transform(test_df['reviews'])
print(X_test.shape)

(1851, 1)
(1851, 14114)